@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #11071f;
  --color-secondary: #1a0b2e;
  --color-purple-1: #c084fc;
  --color-purple-2: #a78bfa;
  --color-purple-3: #c084fc33;
  --color-secondary-light: #3f1d6b;
  --font-josephine: "Josefin Sans", sans-serif;
  --font-pacifico: "Pacifico", cursive; 
  --animate-float: float 15s ease-in-out infinite;
  --animate-floating-badge: floatBadge 3s ease-in-out infinite;
  --animate-pulseRing: "pulseRing 1.5s linear infinite";
  --animate-shimmer: shimmer 2s infinite;
}

@layer utilities {
  .code-grid-bg {
    background-image:
      linear-gradient(white 1px, transparent 1px),
      linear-gradient(90deg, white 1px, transparent 1px);
    background-size: 50px 50px;
    animation: gridMove 20s linear infinite;
  }
  .animate-block {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }
  .scene {
    perspective: 50em;
  }

  .assembly {
    transform-style: preserve-3d;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 0;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
    opacity: 0.2;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes gridMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50px, 50px);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(100vh) rotate(0deg);
    opacity: 0;
  }
  10%,
  90% {
    opacity: 0.1;
  }
  50% {
    transform: translateY(-100px) rotate(180deg);
    opacity: 0.2;
  }
}

@keyframes floatBadge {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
 

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%) ;}
}